* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    min-width: 960px;
    height: 80px;
    background-color: #000000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    height: 80px;
    margin: 0 auto;
}

.nav ul {
    width: 480px;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav li {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    background: url("https://ooo.0o0.ooo/2017/06/24/594e388a6b791.png") no-repeat right 23px;
}

.child-menu {
    display: none;
    position: absolute;
    min-width: 100%;
    width: 150px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 18px;
    right: 0;
    z-index: 1;
    text-align: right;
    background-color: #303030;
}


.nav li:hover{
    background-color: #303030;
}
.nav li:hover .child-menu{
    
    display: block;
}

.nav li:last-child {
    margin-right: 0;
}

.banner {
    min-width: 960px;
    height: 260px;
    display: flex;
    background-color: #2D7079;
}

.banner-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.banner-right {
    flex: 1;
    overflow: hidden;
}

.text {
    position: absolute;
    width: 480px;
    padding-top: 50px;
}

.text p {
    font-size: 32px;
    opacity: 0.5;
    color: #fff;
}

.text .em {
    font-size: 44px;
    opacity: 1;
}

.content {
    max-width: 960px;
    margin: 20px auto;
}

.nav-main {
    max-width: 960px;
}

.nav-side {
    float: left;
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #E5E5E5;
    background-color: #EFEFEF;

}
.nav-side p {
     cursor: pointer;
     padding: 10px 20px;
}
.submenu{
    display: none;
    background-color: #fff;
    padding-left: 40px;
    line-height: 26px;
}
.submenu li{
    line-height: 40px;
}
.nav-con {
    margin-left: 320px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E5E5E5;
    border-right: none;

}

td,th{
    text-align: center;
    padding:0 20px;
    border-right: 1px solid #E5E5E5;
    line-height: 50px;
}

tr:nth-child(2n+1) {
    background-color: #EFEFEF;
}

tr:nth-child(2n) {
    background-color: #fff;
}
tr.tablehead{
    line-height: 60px;
    background-color: #DDDDDD;
    top: 0;
    margin-left: -1px;
}
table button{
    width: 54px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 20px;
}
.table-pop{
    border: 1px solid #E5E5E5;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    line-height: 40px;
    padding: 20px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.table-pop input{   
    width: 170px;
    padding: 5px 10px;
}
.table-pop label{
    display: inline-block;
    width: 80px;
}
.table-pop button, .pop-delete button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
}
.btncancel{
    float: right;
}
.shawdow{
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}
.pop-delete{
   border: 1px solid #E5E5E5;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    line-height: 40px;
    padding: 20px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    display: none;
}
.cancel-btn{
    float: right;
}
.copyright {
    width: 100%;
    text-align: center;
    margin-top: 67px;
    font-size: 14px;
}
